
.imgs-container {
    display: grid;
    grid-template-columns: minmax(135px, 49vw)minmax(135px, 49vw);  
    gap: 0.25em;
    padding: 0.25em;
}
.imgs-container img {
    max-width: 100%;
  height: auto;
}
