button :not(.main-nav) {
    cursor: pointer;
    border-radius: 0.5em;
    height: 10vw;
    justify-content: center;
    padding: 2px 4px;
    margin: 0px;
}

button.menu-button {
    background: transparent;
    border: none;
    font-size: 3em;
    color: var(--clr0);
}

.textbox-tools {
    margin-top: 0.5em;
}

.textbox-tools>* {
    margin: 0.5em;
    position: relative;
}

.textbox-tools img {
    width: 7vw;
    height: 7vw;
    position: relative;
}

.text-edit-tools img {
    width: 7vw;
    height: 7vw;
    position: relative;
}

.color-select {
    display: inline-block;
    width: 3em;
    border-radius: 0.5em;
}

.color-select input {
    margin-bottom: 0;
    opacity: 0;
    display: block;
}

.select-fonts {
    display: flex;
    justify-content: space-between;
    height: 2em;
    border-radius: 0.5em;
    border-radius: 0.5em;
    border: 2px solid black;
}

.text-input {
    height: 3.8em;
    margin-inline: auto;
    border-radius: 0.5em;
    vertical-align: bottom;
}

.switch {
    background-color: darkorange;
}

.add {
    background-color: chartreuse;
}

.delete {
    background-color: crimson;
}

.text-edit-btn {
    background-color: aqua;
}

.actions {
    margin-bottom: 0.5em;
}