.main-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4.5em;
    text-align: center;
    box-shadow: inset 0 6px 0 var(--clrprs);
    background-color: var(--clrpr);
    color: var(--clr4);
}

.main-footer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-block: 0.05em;
}